.first-list{ 
    color:blue;
}

.simple-sad{ 
    color:gray
}

.small-text{
    font: size 8px;
}

.orange{
    font-weight:bold;
}

.sans-serif{
    font-family: sans-serif;
}

